In [103]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sys
sys.setrecursionlimit(10000)

In [104]:
gender = pd.read_csv("sample_data/gender_submission.csv")
train = pd.read_csv("sample_data/train.csv")
test = pd.read_csv("sample_data/test.csv")

In [105]:
gender

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [106]:
train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [107]:
test

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [108]:
train.drop(['PassengerId','Name','Cabin','Ticket'],axis=1,inplace = True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [109]:
test.drop(['PassengerId','Name','Cabin','Ticket'],axis=1,inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [110]:
train['Age'].fillna(train['Age'].mean(),inplace=True)
test['Age'].fillna(test['Age'].mean(),inplace=True)
train.info(),test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

(None, None)

In [111]:
train['Embarked'].replace('nan',np.nan,inplace=True)
train['Embarked'].replace('C','0',inplace=True)
train['Embarked'].replace('Q','1',inplace=True)
train['Embarked'].replace('S','2',inplace=True)
test['Embarked'].replace('C','0',inplace=True)
test['Embarked'].replace('Q','1',inplace=True)
test['Embarked'].replace('S','2',inplace=True)
train['Sex'].replace('male','0',inplace=True)
train['Sex'].replace('female','1',inplace=True)
test['Sex'].replace('male','0',inplace=True)
test['Sex'].replace('female','1',inplace=True)
train['Embarked'].fillna(train['Embarked'].mode()[0],inplace = True)
test['Fare'].fillna(test['Fare'].mean(),inplace=True)
X = train.drop('Survived',axis=1)
y = train['Survived']
clf_list = []

In [112]:
from sklearn.linear_model import LinearRegression , LogisticRegression
from sklearn import preprocessing , model_selection , neighbors
from sklearn import svm

X_train,X_test,y_train,y_test = model_selection.train_test_split(X,y,test_size=0.2)

svm_clf = svm.SVC()
#svm_clf = svm_clf.fit(X_train,y_train)
params = {
    'C':[0.1,0.01,10,0.5],
    'kernel':['rbf','linear','poly']
}

SVM_cv = model_selection.GridSearchCV(svm_clf,params)
SVM_cv.fit(X_train,y_train)
#svm_clf.score(X_test,y_test),logistic_clf.score(X_test,y_test),knn_clf.score(X_test,y_test)

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [0.1, 0.01, 10, 0.5],
                         'kernel': ['rbf', 'linear', 'poly']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [113]:
SVM_cv.cv_results_

{'mean_fit_time': array([1.06258869e-02, 1.98824167e-01, 8.22024345e-03, 1.11084461e-02,
        9.90085602e-03, 6.77666664e-03, 1.18453026e-02, 1.27617949e+01,
        9.91662502e-02, 1.16560459e-02, 2.96859241e+00, 1.07833862e-02]),
 'mean_score_time': array([0.00276628, 0.00180206, 0.00184889, 0.00287566, 0.00165553,
        0.00181942, 0.00278072, 0.00167718, 0.00184083, 0.0031302 ,
        0.0015698 , 0.00177946]),
 'mean_test_score': array([0.66992022, 0.789412  , 0.62783414, 0.60814538, 0.74994583,
        0.61796513, 0.71901901, 0.789412  , 0.66856102, 0.66851177,
        0.789412  , 0.63342854]),
 'param_C': masked_array(data=[0.1, 0.1, 0.1, 0.01, 0.01, 0.01, 10, 10, 10, 0.5, 0.5,
                    0.5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'poly', 'rbf', 'linear', 'poly',
                    'rbf', 'linear', 'poly', 'rbf', 'linear', 'poly'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.1, 'kernel': 'rbf'},
  {'C': 0.1, 'kernel': 'linear'},
  {'C': 0.1, 'kernel': 'poly'},
  {'C': 0.01, 'kernel': 'rbf'},
  {'C': 0.01, 'kernel': 'linear'},
  {'C': 0.01, 'kernel': 'poly'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'poly'},
  {'C': 0.5, 'kernel': 'rbf'},
  {'C': 0.5, 'kernel': 'linear'},
  {'C': 0.5, 'kernel': 'poly'}],
 'rank_test_score': array([ 6,  1, 10, 12,  4, 11,  5,  1,  7,  8,  1,  9], dtype=int32),
 'split0_test_score': array([0.66433566, 0.74825175, 0.62237762, 0.60839161, 0.79020979,
        0.62937063, 0.74125874, 0.74825175, 0.65734266, 0.66433566,
        0.74825175, 0.63636364]),
 'split1_test_score': array([0.69230769, 0.76923077, 0.61538462, 0.60839161, 0.74825175,
        0.61538462, 0.75524476, 0.76923077, 0.66433566, 0.69230769,
        0.76923077, 0.62937063]),
 'split2_test_score': array([0.61267606, 0.74647887, 0.63380282, 0.61267606, 0.71126761,
        0.6056338 , 0.65492958, 0.74647887, 0.64084507, 0.61267606,
        0.74647887, 0.64084507]),
 'split3_test_score': array([0.70422535, 0.83098592, 0.63380282, 0.6056338 , 0.76760563,
        0.61267606, 0.72535211, 0.83098592, 0.6971831 , 0.6971831 ,
        0.83098592, 0.62676056]),
 'split4_test_score': array([0.67605634, 0.85211268, 0.63380282, 0.6056338 , 0.73239437,
        0.62676056, 0.71830986, 0.85211268, 0.68309859, 0.67605634,
        0.85211268, 0.63380282]),
 'std_fit_time': array([7.52305841e-04, 2.10640941e-01, 1.37833029e-03, 6.61741311e-04,
        7.99399135e-04, 2.91484459e-04, 5.03533230e-04, 3.05506928e+00,
        3.66518044e-02, 1.64084505e-03, 2.12340160e+00, 2.39873800e-03]),
 'std_score_time': array([5.50782215e-05, 1.18292487e-04, 8.82832031e-05, 8.20218960e-05,
        5.25416130e-05, 1.02174020e-04, 3.13067341e-04, 2.36729389e-04,
        4.88405566e-05, 4.60937371e-04, 5.09454034e-05, 3.44181312e-05]),
 'std_test_score': array([0.03169787, 0.043828  , 0.00763727, 0.00257931, 0.02734953,
        0.00887851, 0.0345108 , 0.043828  , 0.01971012, 0.03026641,
        0.043828  , 0.00499376])}

In [114]:
SVM_cv.best_estimator_,SVM_cv.best_params_,SVM_cv.best_score_,clf_list.append(SVM_cv.best_score_)

(SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 {'C': 0.1, 'kernel': 'linear'},
 0.7894119964542499,
 None)

In [115]:
X_test

     Pclass Sex        Age  SibSp  Parch      Fare Embarked
305       1   0   0.920000      1      2  151.5500        2
49        3   1  18.000000      1      0   17.8000        2
41        2   1  27.000000      1      0   21.0000        2
175       3   0  18.000000      1      1    7.8542        2
871       1   1  47.000000      1      1   52.5542        2
..      ...  ..        ...    ...    ...       ...      ...
538       3   0  29.699118      0      0   14.5000        2
532       3   0  17.000000      1      1    7.2292        0
467       1   0  56.000000      0      0   26.5500        2
320       3   0  22.000000      0      0    7.2500        2
854       2   1  44.000000      1      0   26.0000        2

[179 rows x 7 columns]

In [116]:
cv.predict(test),cv.predict(X_test),y_test

(array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
        1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
        1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
        1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
        0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0]),
 array([0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
        0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
        0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
        1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 1]),
 305    1
 49     0
 41     0
 175    0
 871    1
       ..
 538    0
 532    0
 467    0
 320    0
 854    0
 Name: Survived, Length: 179, dtype: int64)

In [117]:
knn_clf = neighbors.KNeighborsClassifier()
knn_cv = model_selection.GridSearchCV(knn_clf,param_grid={'n_neighbors':[3,4,5,6,7,8,9,10]})
knn_cv.fit(X_train,y_train)
#knn_clf = knn_clf.fit(X_train,y_train)
knn_cv.cv_results_,knn_cv.best_score_,knn_cv.best_params_,clf_list.append(knn_cv.best_score_)

({'mean_fit_time': array([0.00244989, 0.00208321, 0.0020865 , 0.00218844, 0.00255866,
         0.00222173, 0.00214229, 0.00220637]),
  'mean_score_time': array([0.03079619, 0.00535498, 0.00540957, 0.00578527, 0.00641961,
         0.00567894, 0.00541968, 0.00563269]),
  'mean_test_score': array([0.71764996, 0.69238649, 0.70785975, 0.70222594, 0.69659214,
         0.7120654 , 0.705033  , 0.70652024]),
  'param_n_neighbors': masked_array(data=[3, 4, 5, 6, 7, 8, 9, 10],
               mask=[False, False, False, False, False, False, False, False],
         fill_value='?',
              dtype=object),
  'params': [{'n_neighbors': 3},
   {'n_neighbors': 4},
   {'n_neighbors': 5},
   {'n_neighbors': 6},
   {'n_neighbors': 7},
   {'n_neighbors': 8},
   {'n_neighbors': 9},
   {'n_neighbors': 10}],
  'rank_test_score': array([1, 8, 3, 6, 7, 2, 5, 4], dtype=int32),
  'split0_test_score': array([0.73426573, 0.72027972, 0.70629371, 0.71328671, 0.6993007 ,
         0.70629371, 0.71328671, 0.72027972]),
  'split1_test_score': array([0.73426573, 0.68531469, 0.71328671, 0.70629371, 0.72027972,
         0.72727273, 0.71328671, 0.65034965]),
  'split2_test_score': array([0.68309859, 0.67605634, 0.69014085, 0.69014085, 0.65492958,
         0.70422535, 0.67605634, 0.69014085]),
  'split3_test_score': array([0.76760563, 0.6971831 , 0.73943662, 0.6971831 , 0.71126761,
         0.72535211, 0.71830986, 0.74647887]),
  'split4_test_score': array([0.66901408, 0.68309859, 0.69014085, 0.70422535, 0.6971831 ,
         0.6971831 , 0.70422535, 0.72535211]),
  'std_fit_time': array([5.43252658e-04, 8.12151254e-05, 4.36928571e-05, 9.72565466e-05,
         3.48843760e-04, 1.04786482e-04, 4.66244829e-05, 2.38197863e-04]),
  'std_score_time': array([0.04849786, 0.00033953, 0.00026126, 0.00076474, 0.00107913,
         0.00028582, 0.00011387, 0.00024371]),
  'std_test_score': array([0.03635102, 0.01551766, 0.01820397, 0.00792925, 0.02244961,
         0.0120338 , 0.01518435, 0.03335888])},
 0.7176499556781246,
 {'n_neighbors': 3},
 None)

In [119]:
logistic_clf = LogisticRegression()
logical_cv = model_selection.GridSearchCV(logistic_clf,param_grid={'C':[0.1,0.01]})
logical_cv.fit(X_train,y_train)
logical_cv.cv_results_,logical_cv.best_params_,logical_cv.best_score_,clf_list.append(logical_cv.best_score_)
#logistic_clf = logistic_clf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

({'mean_fit_time': array([0.02158947, 0.01493797]),
  'mean_score_time': array([0.00182309, 0.00124249]),
  'mean_test_score': array([0.80198956, 0.72187531]),
  'param_C': masked_array(data=[0.1, 0.01],
               mask=[False, False],
         fill_value='?',
              dtype=object),
  'params': [{'C': 0.1}, {'C': 0.01}],
  'rank_test_score': array([1, 2], dtype=int32),
  'split0_test_score': array([0.79020979, 0.75524476]),
  'split1_test_score': array([0.7972028 , 0.71328671]),
  'split2_test_score': array([0.75352113, 0.67605634]),
  'split3_test_score': array([0.83802817, 0.73943662]),
  'split4_test_score': array([0.83098592, 0.72535211]),
  'std_fit_time': array([0.00268261, 0.00138677]),
  'std_score_time': array([0.00077803, 0.00014772]),
  'std_test_score': array([0.03049733, 0.02685945])},
 {'C': 0.1},
 0.8019895597360387,
 None)

In [120]:
from sklearn.naive_bayes import GaussianNB
NB_clf = GaussianNB()
NB_cv = model_selection.GridSearchCV(NB_clf,param_grid={'var_smoothing':[1e-9,0.1,1,1e-20]})
NB_cv.fit(X_train,y_train)
NB_cv.cv_results_,NB_cv.best_params_,NB_cv.best_score_,clf_list.append(NB_cv.best_score_)

({'mean_fit_time': array([0.0022891 , 0.00244346, 0.0017869 , 0.00182071]),
  'mean_score_time': array([0.0011939 , 0.00111089, 0.00093055, 0.00098319]),
  'mean_test_score': array([0.7823402 , 0.64889195, 0.62637644, 0.7823402 ]),
  'param_var_smoothing': masked_array(data=[1e-09, 0.1, 1, 1e-20],
               mask=[False, False, False, False],
         fill_value='?',
              dtype=object),
  'params': [{'var_smoothing': 1e-09},
   {'var_smoothing': 0.1},
   {'var_smoothing': 1},
   {'var_smoothing': 1e-20}],
  'rank_test_score': array([1, 3, 4, 1], dtype=int32),
  'split0_test_score': array([0.78321678, 0.64335664, 0.64335664, 0.78321678]),
  'split1_test_score': array([0.75524476, 0.64335664, 0.62937063, 0.75524476]),
  'split2_test_score': array([0.73239437, 0.61971831, 0.59859155, 0.73239437]),
  'split3_test_score': array([0.84507042, 0.68309859, 0.63380282, 0.84507042]),
  'split4_test_score': array([0.79577465, 0.65492958, 0.62676056, 0.79577465]),
  'std_fit_time': array([6.29080393e-04, 5.95046303e-04, 8.74357874e-05, 3.95080808e-05]),
  'std_score_time': array([4.83207649e-04, 1.84612579e-04, 5.18835203e-05, 1.24990507e-04]),
  'std_test_score': array([0.03832775, 0.02058605, 0.01499727, 0.03832775])},
 {'var_smoothing': 1e-09},
 0.7823401950162513,
 None)

In [131]:
dict(zip(['KNN','NB','SVM_Linear','Logistic'],clf_list))

{'KNN': 0.7176499556781246,
 'Logistic': 0.8019895597360387,
 'NB': 0.7823401950162513,
 'SVM_Linear': 0.7894119964542499}